


@font-face {
    font-family: "TheLastShuriken";
    src: url(Poppins-Bold.ttf);
}
body {
    margin: 0px;
    border: 0px;
    background-size: cover;
    background-color: #0B0F19;
}

.writeup{
    text-align: center;
    font-family: "TheLastShuriken";
    color: #E6EDF3;
    text-shadow: 1px 3px 1px #051100;
}

.navigation{
    display: flex;
    justify-content: space-between;
    font-family: "TheLastShuriken";
    background-color: #111827;
    align-items: center;
    padding: 0px, 20px;
    color: #E6EDF3;
   
}

.navbuttons{
    
    list-style: none;
    display: flex;
    padding: 20px;
    margin: 0px;
    gap: 20px;
}

.companyname{
    padding-left: 20px;
    text-shadow: 0px 0px 8px rgba(0,194,209,0.25);
}

.accountbtn{
    font-family: "TheLastShuriken";
    background-color:#0F172A;
    padding: 8px 15px;
    color: #6B7280;
    cursor: pointer;
    border-radius: 5px;
    border-color: #00C2D1;
    transition: 0.3;
}
.accountbtn:hover{
 background-color: rgba(0, 194, 209, 0.3);
 color:#E6EDF3;
}
.searchbar{
    text-align: center;
    margin: 20px;

}

input{
    width: 300px;
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: "TheLastShuriken";
    background-color:#111827;
    color: #E6EDF3;
    border-color: #00C2D1;
    border-radius: 30px;
    opacity: 0.4;
    
}

#search{
    font-family: "TheLastShuriken";
    color: #E6EDF3;
    opacity: 0.4;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    background-color: #0F172A;
    border-color: #00C2D1;
    border-radius: 30px;

}

#search:hover{
    background-color: rgba(0,194,209,0.25);
    color: #E6EDF3;
}

#moviecontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-family: "TheLastShuriken";

}

.moviecard {
    background-color: #111827;
    padding: 15px;
    width: 350px;
    border-color: #1F2A40;
    border-radius: 8px;
    color: #94A3B8;

    text-align: center;
}

.moviecard img {
    width: 100%;
}

::placeholder{
    color: #6B7280;
    opacity: 1;
}

.section-container {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding: 10px 0;
    min-height: 200px; 
    background-color: #0B0F19; 
}

.movie-card {
    display: flex;
    min-width: 200px;
    flex-shrink: 0;
    color: white;
    padding: 10px;
    align-items: center;
    background-color: #111827;
    border-radius: 1px;
    border-color: #1F2A40;
}

.movie-card img {
    width: 100%;
    max-height: 300px;   
    object-fit: cover; 
    border-radius: 4px;
}

.section-container::-webkit-scrollbar {
    height: 8px;
}
.section-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.trendingnow{
    color: #E6EDF3;
    text-align: center;
}

.section-partition {
    max-height: 600px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 10px 0;
    border-radius: 50px;
    background-color: #0B0F19;
 
    
}

.movie-cards {
    font-family: "TheLastShuriken";

    max-width: 400px;
    color: #94A3B8;
    gap: 10px;
    align-items: flex-start;
    background-color: rgba(17, 24, 39, 0.7);
    text-align: center;
    padding: 10px, 0px;
    text-shadow: 4px 3px 5px rgba(0,194,209,0.25);;
}

.section-partition::-webkit-scrollbar {
    height: 8px;
}
.section-partition::-webkit-scrollbar-thumb {
    border-radius: 4px;
}


#genreselection{
    font-family: "TheLastShuriken";
    color: #E6EDF3;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    background-color: #111827;
    border-color: #1F2A40;

}

.trendingnow{
    font-family: "TheLastShuriken";
    color:#E6EDF3;
}

#logo{
   
    width: 50px;
    height: 50px;
    padding-right: 50px;
    padding-top: 0px;
    border-radius: 10px;
}

rating
{
    color: #39FF14;
}

h3{
    color: #E6EDF3;
}