


@font-face {
    font-family: "TheLastShuriken";
    src: url(TheLastShuriken.ttf);
}
body {
    margin: 0px;
    border: 0px;
    background-image: url("IMG-20260215-WA0008.jpg");
    background-size: cover;
}

.writeup{
    text-align: center;
    font-family: "TheLastShuriken";
    color: #B71C1C;
    text-shadow: 1px 3px 1px #ec5c08;
}

.navigation{
    display: flex;
    justify-content: space-between;
    font-family: "TheLastShuriken";
    background-image: linear-gradient( to left, rgb(163, 46, 25), rgb(87, 75, 75)) ;
    align-items: center;
    padding: 0px, 20px;
   
}

.navbuttons{
    
    list-style: none;
    display: flex;
    padding: 20px;
    margin: 0px;
    gap: 20px;
}

.companyname{
    padding-left: 20px;
    text-shadow: 1px 3px 5px #ffffff;
}

.accountbtn{
    font-family: "TheLastShuriken";
    background-color: #B71C1C;
    padding: 8px 15px;
    color: rgb(255, 87, 34);
    cursor: pointer;
    border-radius: 5px;
    border: #ec5c08;
    transition: 0.3;
}
.accountbtn:hover{
 background-color: black;
 color: #B71C1C;
}
.searchbar{
    text-align: center;
    margin: 20px;

}

input{
    width: 300px;
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: "TheLastShuriken";
    background-color: #B71C1C;
    color: black;
    border: black;
    
}

#search{
    font-family: "TheLastShuriken";
    color: #B71C1C;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border: black;

}

#search:hover{
    background-color: #B71C1C;
    color: black;
}

#moviecontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-family: "TheLastShuriken";

}

.moviecard {
    background-color: #ec0808;
    padding: 15px;
    width: 350px;
    border-radius: 8px;
    text-align: center;
}

.moviecard img {
    width: 100%;
}

::placeholder{
    color: black;
    opacity: 1;
}

.section-container {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding: 10px 0;
    min-height: 200px;  
}

.movie-card {
    display: flex;
    min-width: 200px;
    flex-shrink: 0;
    color: white;
    padding: 10px;
    align-items: center;
}

.movie-card img {
    width: 100%;
    max-height: 300px;   
    object-fit: cover; 
    border-radius: 4px;
}

.section-container::-webkit-scrollbar {
    height: 8px;
}
.section-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.trendingnow{
    color: #ec5c08;
}

.section-partition {
    max-height: 600px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 10px 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.6);
 
    
}

.movie-cards {
    font-family: "TheLastShuriken";

    max-width: 400px;
    color: white;
    gap: 10px;
    align-items: flex-start;
    
    text-align: center;
    padding: 10px, 0px;
    text-shadow: 4px 3px 5px #000000;;
}

.section-partition::-webkit-scrollbar {
    height: 8px;
}
.section-partition::-webkit-scrollbar-thumb {
    border-radius: 4px;
}


#genreselection{
    font-family: "TheLastShuriken";
    color: #B71C1C;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border: black;

}